In [1]:
import pandas as pd

In [3]:
# persiapan DF
df = pd.DataFrame({
    'pelanggan' : [11, 12, 13, 14],
    'kepuasan' : ['baik', 'cukup', 'buruk', 'cukup']
})
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

In [5]:
# tipe data ordinal pada pandas
from pandas.api.types import CategoricalDtype

tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangat baik'], ordered=True)

df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

In [6]:
df = df.sort_values('kepuasan', ascending=True)
df

   pelanggan kepuasan
2         13    buruk
1         12    cukup
3         14    cukup
0         11     baik

In [7]:
df[df['kepuasan'] >= 'cukup']

   pelanggan kepuasan
1         12    cukup
3         14    cukup
0         11     baik